<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas</title>
</head>
<body>

    <h1>Entradas</h1>
    <ul>
        {% for entrada in object_list %}

            <li>
                <p>NOMBRE: {{ entrada.nombre }} </p>
                <p> 
                    <a href="{% url 'Detail' entrada.id %}">Ver</a> | 
                    <a href="{% url 'Edit' entrada.id %}">Editar</a> | 
                    <a href="{% url 'Delete' entrada.id %}">Borrar</a> 
                
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'login'  %}">Nuevo</a> | 


</body>
</html>