

{% extends 'recetas/base.html' %}

{% load static %}

{% block logo %}
<a class="navbar-brand page-scroll" href="{% url 'index' %}"><img src="{% static 'recetas/images/logo2.png' %}" alt="Treviso theme logo" width="200"></a>
{% endblock %}

{% block title %}
Entradas
{% endblock %}

{% block titulo %}


<section id="portfolio">
	<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<div class="section-title">
				<h2>Sin Gluten</h2>
				<p>Sin gluten, con todo el sabor.</p>
			</div>
		</div>
	
	</div>
	</div><!-- container -->
</section>

{% endblock %}

{% block contenidocentral %}
        <ul>
        {% for s in singluten %}
            <li>{{s}}</li>
            <button>
                <a href="{% url 'eliminarsingluten' s.nombre_receta %}">Borrar| </a>
                <a href="{% url 'editarsingluten' s.nombre_receta %}">Actualizar</a>
            </button>
            <br>
        {% endfor %}
        </ul>
        <p>
            <a class="btn btn-primary" href="{% url 'agregarsingluten' %}">Agregar</a>
            
        </p>


{% endblock %}
